<div class="block">
  <h3>Earthquake Markers</h3>
  <div class="content">
    <br>
        <%= image_tag "red.png",  :alt => 'red' %> M  => 6
    <br>
  	<%= image_tag "yellow.png", :alt => 'yellow' %> 5.0 <= M < 6.0 
    <br>
  	<%= image_tag "green.png",  :alt => 'green' %> 4.0 <= M < 5.0
    <br>  
  	<%= image_tag "blue.png", :alt => 'blue' %> 3.0 <= M <= 0 
   </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
